body {
    margin: 0;
    padding: 0;
    background-color: #ecbfb4;
    /*background-color: #fbf2ec;*/
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: white
}

.info {
    margin-top: 50px;
    font-family: 'Roboto Mono', monospace;
}

.navbar {
    background-color: #ecbfb4;
    color: white;
    text-transform: uppercase;
}

.navbar-right {
    padding-right: 30px;
    padding-top: 8px;
}

#logo {
    width: 150px;
}

#splash {
    text-align: left;
    padding: 125px 150px;
    /*height: 300px;*/
    /*background-color: #ecbfb4;*/
    margin-top: -25px;
}

#splash h1 {
    font-size: 70px;
    font-weight: 600;
    color: white;
}

.dash {
    font-size: 35px;
    margin: 0;
    color: white;
}

.italics {
    font-style: italic;
}

@media only screen and (max-width: 786px) {
    #splash {
        padding-left: 50px;
        padding-top: 125px;
    }

    .navbar-right {
        display: none;
    }

}

@media only screen and (max-width: 955px) {
    #splash {
        padding-left: 50px;
        padding-top: 125px;
    }

}