<div class="container">
    <form>
        <div class="form-group">
            <label for="widgetName">Name</label>
            <input type="text" class="form-control" id="widgetName" placeholder="{{model.widget.name}}">
        </div>
        <div class="form-group">
            <label for="widgetText">Text</label>
            <input type="text" class="form-control" id="widgetText" placeholder="{{model.widget.text}}">
        </div>
        <div class="form-group">
            <label for="widgetSize">Size</label>
            <input type="text" class="form-control" id="widgetSize" placeholder="{{model.widget.size}}">
        </div>
    </form>
    <div class="btn-form">
        <a class="btn btn-danger  btn-block"
           href="website-list.html">Delete</a>
    </div>
</div>
