<nav class="navbar navbar-default">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="../widget/widget-list.view.client.html" class="glyphicon glyphicon-chevron-left"></a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand profile-websites-navbar-text" href="#">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="widget-chooser-list">
        <li class="list-group-item">
            <a ng-click="model.createWidget('HEADER')">Header</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('IMAGE')">Image</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('YOUTUBE')">YouTube</a>
        </li>

        <li class="list-group-item">
            <a ng-click="model.createWidget('HTML')">HTML</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createWidget('TEXT')">Text Input</a>
        </li>

        <li class="list-group-item">
            <a ng-click="">Label</a>
        </li>
        <li class="list-group-item">
            <a ng-click="">Link</a>
        </li>
        <li class="list-group-item">
            <a ng-click="">Button</a>
        </li>
        <li class="list-group-item">
            <a ng-click="">Data Table</a>
        </li>
        <li class="list-group-item">
            <a ng-click="">Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-footer">
        <p class="navbar-text pull-right">
            <a href="../views/user/profile.view.client.html" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>