<nav class="navbar navbar-default">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="/widget-list.html" class="glyphicon glyphicon-chevron-left"></a>
        </p>
        <p class="navbar-text pull-right">
            <a href="/widget-list.html" class="glyphicon glyphicon-ok"></a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand profile-websites-navbar-text" href="#">Edit Widget</a>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="widgetName">Name</label>
            <input type="text" class="form-control" id="widgetName" placeholder="{{model.widget.name}}">
        </div>
        <div class="form-group">
            <label for="widgetText">Text</label>
            <input type="text" class="form-control" id="widgetText" placeholder="{{model.widget.text}}">
        </div>
        <div class="form-group">
            <label for="widgetURL">URL</label>
            <input type="text" class="form-control" id="widgetURL" placeholder="{{model.widget.url}}">
        </div>
        <div class="form-group">
            <label for="widgetWidth">Width</label>
            <input type="text" class="form-control" id="widgetWidth" placeholder="{{model.widget.width}}">
        </div>
    </form>
    <div class="btn-form btn-file">
        <a class="btn btn-danger  btn-block"
           href="widget-list.view.client.html">Delete</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-footer">
        <p class="navbar-text pull-right">
            <a href="../views/user/profile.view.client.html" class="glyphicon glyphicon-user"></a>
        </p>
    </div>
</nav>
